<div class="container mt-4">
    <div class="post_content">
        <div class="float-start go_back">
            <%= link_to blog_index_path, :"data-turbolinks" => false do %>
                <%= image_tag 'back' %>
            <% end %>
        </div>

        <div class="post_header">
            <%= image_tag @post.banner_photo %>
        </div>

        <div class="border-bottom pt-2 pb-1 text-center">
            <h1><%= @post.title %></h1>
        </div>

        <div class="p-3">
            <%= @post.content %>
        </div>

        <div class="about_writer text-center">
            <div class="row">
                <div class="col-md-4 pt-2 pb-2">
                    <%= image_tag @post.user.perfil_photo %>
                </div>

                <div class="col-md-8 pt-4">
                    <p>Postagem feita especialmente para você!</p>
                    <p>Espero que goste do conteúdo, aproveite</p>
                    <p>e leia nossas outras postagens também.</p>
                    <p>Não esqueca de interagir logo abaixo \o/</p>
                </div>
            </div>
        </div>
        
        <%= render template: 'comments/index' %>
    </div>
</div>